body{
    background-image:url(moon.png);
  }
  h1,h5{
    color:pink;
    background-color:blue;
  }
  #a,#b1{
    color:yellow;
    background-color:pink;
  }
  .a{
    color:aqua;
    background-color:green;
  }
  center{
    font-family:Product Sans;
    text-decoration-thicknesstext:2px;
  }
  .b{
    color:blue;
  }
  .r{
    color:red;
  }
  #y{
    color:yellow;
  }
  #b{
    color:aqua;
  }
  .red{
  background-color:black;
  color:red;
  }
  .br{
    background-color:pink;
    color:white;
  }
  #r{
    color:red;
  }